#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #161a24;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#Logo {
  width: 10rem;
  margin-bottom: 5rem;
}

.grid_container {
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background-color: #1d1d2b; /* Darker background for the cards */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border: rgba(255, 255, 255, 0.1) 2px solid;
}

.profile-card {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.profile-image {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.drop-down {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  max-height: 70px;
  overflow-y: auto;
}

.buttons {
  display: flex;
  gap: 10px;
}
.stats-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: span 3;
}

.add-task_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.add-task-input {
  border: none;
  padding: 1rem;
  border-radius: 10px;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.MuiChartsLegend-series text {
  fill: white !important; /* Change the legend text color to white */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b59eb8;
}

::-webkit-scrollbar-thumb {
  background: #7209b7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d095e;
}
